.mat-form-field {
  padding: 8px 20px;
}

.mat-card-actions {
  display: inline;
  padding: 20px;
}

.control-toolbar {
  margin: 8px;
  display: flex;
  align-content: center;
  align-items: center;
}

.elem-margin {
  margin-left: 8px;
  margin-right: 8px;
}

mat-divider {
  height: 144px;
  margin-left: 8px;
  margin-right: 8px;
}

.basic-container {
  padding: 8px;
  min-height: 32px;
}
